div{
    margin: 10px auto;
    text-align: center;
}
.tab{
    display: inline-block;
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    background-color: greenyellow;
    font-weight: bold;
}

